<!DOCTYPE html>
<html>
  <head>
    <title>track tracker</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav id="headnav">
      <div>
        <a href="/">HOME</a> 
        &nbsp; | &nbsp;
        <a href="/tracks">ALL TRACKS</a>
        &nbsp; | &nbsp;
        <% if (user) { %>
          <a href="/tracks/new">ADD TRACK </a>
        <% } %>
      </div>
      <div id="img-text">
        <img id="instagram" src="https://i.imgur.com/uFhDWKA.jpg">
        &nbsp;@sunset_gtr
      </div>
      <% if (user) { %>
        
        <% if (user.admin === false) {  %>
        <a href="/admins/<%= user._id %>/login">Admin Login</a> 
        <% } %>
        <a class="spanhome" href="/logout">LOG OUT</a>
      <% } else { %>
        <a class ="login1" href="/auth/google">LOG IN</a>
      <% } %>

    </nav>