<!DOCTYPE html>
<html>
  <head>
    <title>track tracker</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav><a href="/">HOME</a><a href="/">LOGIN</a></nav>
    <h1>Track Tracker</h1>
    <p>Welcome to Track Tracker</p>
  </body>
</html>
