<!DOCTYPE html>
<html>
  <head>
    <title>track tracker</title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
  </head>
  <body>
    <nav>
      <div class="home">
        <div>
          Track Tracker
        </div>
        <a class ="login1" href="auth/google">Log In</a>
      </div>
    </nav>
    <a href="/tracks">All Tracks</a>
    <img class="homeimage" src="https://i.imgur.com/cBvHmCA.jpg">
  </body>
</html>
