<!DOCTYPE html>
<html>
  <head>
    <title>track tracker</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav><a href="/">HOME</a></nav>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
