* {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.login1 {
  display: flex;
  justify-content: flex-end;
  font-size: 1.3rem;
  /* color: white; */
}

.home {
  background-color: #9DC8DD;
 }

 .homeimage {
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}