* {
  box-sizing: border-box;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  height: 100vh;
}

a {
  color: #00B7FF;
}

.login1 {
  display: flex;
  justify-content: flex-end;
  font-size: 1.3rem;
  /* color: white; */
}

.home {
  background-color: #9DC8DD;
 }

 .homeimage {
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.spanhome {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

#homepage {
  background-image: url("https://i.imgur.com/XEEq5QR.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#tracklistpage {
  background-image: url("https://i.imgur.com/rgn7sYW.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#newtrack {
  background-image: url("https://i.imgur.com/D4gEkFt.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main {
  height: 100%;
  padding: 2rem;
}

a.track {
  height: 10rem;
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  text-decoration: none;
  margin: 1rem;
  text-align: center;
  opacity: 0.87;
  background-image: url("https://i.imgur.com/ay0Z0wc.jpg");
  background-size: cover;
  background-position: center;
}

a.track:hover {
  background-color: white;
  color: black;
}

.homeATag {
  height: 10rem;
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  text-decoration: none;
  margin: 1rem;
  text-align: center;
  opacity: 0.87;
}

#headnav {
  background-color: #3965ED;
  height: 10vmin;
  display: flex;
  justify-content: space-between;
  line-height: 10vmin;
  font-size: 3vmin;
  padding: 0 2vmin;
}
#img-text {
  display: flex;
  justify-content: space-between;
  line-height: 10vmin;
  font-size: 3vmin;
  margin-right: 5vmin;
}
#instagram {
  height: 10vmin;
}



.indexnav {
  background-color: #3965ED;;
  font-size: 20px;
  padding-left: 20px;
}

.spanhome {
  font-size: 20px;
  padding-bottom: 30px;
}
.newnav {
  background-color: #3965ED;;
  font-size: 20px;
  padding-left: 20px;
}

.shownav {
  background-color: #3965ED;;
  font-size: 20px;
  padding-left: 20px;
}

#mainshow {
  background-image: url("https://i.imgur.com/P89LLBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 20px;
  color: black;
}

.showreview {
  font-size: 22px;
}

.showreview1 {
  line-height: 15px;
}

.showreview2 {
  font-size: 22px;
}

#addreview {
  border-radius: 33px;
  background-color: yellowgreen;
}

#add-review-form {
  padding-bottom: 30px;
}

.edit-review {
  display: inline;
}

#deletereview {
  border-radius: 33px;
  background-color: red;
  cursor: pointer;
}

.review-user {
  font-size: 22px;
}

#rating {
  padding-right: 30px;
}

#review {
  padding-right: 30px;
}

#date {
  padding-right: 30px;
}

#updatereview {
  border-radius: 33px;
  background-color: red;
  cursor: pointer;
}

#addtrack {
  border-radius: 33px;
  background-color: yellowgreen;
  cursor: pointer;
}

.addtrack {
  font-size: 22px;
}

#add {
  color: red;
}




