<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="tracks/addtrack">Add Track</a>
    <h1>All Tracks</h1>
    <table>
        <thead>
            <tr>
                <th>Track</th>
                <th>Difficulty</th>
                <th>Open To Public</th>
            </tr>
        </thead>
        <tbody>
            <% tracks.forEach(function(track) { %>
            <tr>
                <td><%= track.name %></td>
                <td><%= track.difficulty %></td>
                <td><%= track.openToPublic %></td>
                <a href="tracks/detail">Detail</a>
            </tr>
            <% }); %>
        </tbody>
    </table>

    
</body>
</html>
