<%- include('../partials/header') %>

    <main id="tracklistpage">
        
        <% tracks.forEach(function(track) { %>
            <a class="track" href="/tracks/<%= track._id %>">
                <%= track.name %>
            </a>
         <% }); %>
     </main>

<%- include('../partials/footer') %>