<%- include('../partials/header') %>

<nav class="newnav">
    <a href="/tracks">ALL TRACKS</a>
</nav>
<main id="newtrack">
    <h1>Add Track</h1>
    <nav>
        <form action="/tracks" method="POST">
        <label>Track:</label>
        <input type="text" name="name">
        <label>Details
            <textarea name="detail" id="" cols="30" rows="10"></textarea>
        </label>
        <label>Difficulty:</label>
        <select name="difficulty">
            <option value="Beginner">Beginner</option>
            <option value="Intermediate">Intermediate</option>
            <option value="Advance">Advance</option>
        </select>
        <label>Open To Public:</label>
        <select name="openToPublic">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
        <input type="submit" value="Add Track">
        </form>
    </nav>
</main>
<%- include('../partials/footer') %>
